.background{
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(197, 9, 9);
    height: 100%;
}
.header{
    text-align: center;
    position: relative;
    top: 10px;
    color: white;
    font-style: italic;
    text-shadow: 4px 5px 6px black;
    margin-bottom: 20px;
}
.header a{
    text-decoration: none;
    color: white;
}
.header a:hover{
    color: black; 
}
.header span{
    font-size: small;
}
.logo_section{
    display: inline-flex;
}
.logo{
    width: 60vw;
}
.login{
    width: 40vw;
}
.join{
    display: inline-flex;
    list-style: none;
    gap: 30px;
}
.join a{
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 12px 15px;
    position: relative;
    top: 20px;
}
.join a:hover{
    background-color: white;
    color: black;
}
#languages{ 
    position: relative;
    padding: 10px 15px;
    top: 15px;
    background-color:  rgb(197, 9, 9);
    color: white;
    border: none;
    font-weight: bolder;
}
.main_menu{
    width: 60%;
}
.navbar{
    height: 65px;
    width: 100%;
    display: inline-flex;
    background-color: hsl(0, 3%, 20%);
}
.menu{
    list-style: none;
    display: inline-flex;
    gap: 20px;
}
.menu a{
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 12px 15px;
    position: relative;
    top: 13px;
}
#more{ 
    position: relative;
    padding: 10px 15px;
    top: 5px;
    background-color: hsl(0, 3%, 20%);
    color: white;
    border: none;
    font-weight: bolder;
}
.more:hover{
    background-color: white;
    color: black;
}
.menu a:hover{
    background-color: white;
    color: black;
}
.profile_menu{
    width: 40%;
}
.profile{
    list-style: none;
    display: inline-flex;
    gap: 35px;
}
.profile a{
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10px 15px;
    position: relative;
    top: 5px;
    background-color: rgb(158, 15, 15);
}
.profile a:hover{
    background-color: white;
    color: black;
}
.games{
    display: inline-flex;
    gap: 10px;
    padding: 10px 0px 10px 15px;
}
.games1{
    display: inline-flex;
    gap: 10px;
    padding: 0px 0px 10px 15px;
}