*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.custom_navbar_brand{
    margin: auto;
}
.custom_navbar_nav{
    margin: auto;
}
.icon{
    margin: auto;
}
.custom_container1{
    max-width: 20%;
}

.custom_container2{
    max-width: 60%;
    margin: auto;
}

.custom_container2 ul{
    list-style: none;
}
.custom_container3{
    max-width: 20%;
    color: white;
}

a{
    color: white;
}

.custom_nav_item{
    padding: 2px;
    color: white;
    font-size: 20px;
}
.custom_nav_item:hover{
    background-color: white;
    color: black;
}
.custom_nav_link{
    color: white;
}

/*end nav*/

.custom_section{
    justify-content: center;
   color: white;
    background-image: linear-gradient(to bottom, rgba(3, 3, 3, 0.822), rgba(39, 33, 33, 0.61));
}
.custom_row{
    height: 250px;
}
.custom_dp{
    margin-left: 30%;
    margin-top: 15%;
}
.cust_cont{
    margin-top: 20%;
}
/* about*/
.custom_sec{
    height: 320px;
}
.custom_a{
    margin-top: 25%;
   
}
.custom_image111{
    margin-top: 5%;
    margin-left: 20%;
}
.custom_image222{
    margin-top: 5%;
   
}
.custom_aa{
    margin-top: 20%;
}
/*end content*/
.custom_section3{
    color: white;
    height: 150px;
    background-color: rgba(39, 33, 33, 0.61);
    margin-bottom: 1px;
}

.cont_h4{
padding-top: 70px;
padding-left: 120px;
    
}


/* end content*/
.custom_section4{
    justify-content: center;
    height:200px;
   color: white;
    background-image: linear-gradient(to top, rgba(3, 3, 3, 0.822), rgba(39, 33, 33, 0.61));
}
.h5_1{
   
margin-left: 200px;
padding-top: 40px;
}
.h5_2{
    margin-left: 100px;
    }
.h5_3{
        margin-left: 170px;
        }


        /**/
  footer{
    
      color: white;
      height: 320px;
  }      